#encounter-container {
	position: fixed;
    width: calc(100vw - 60px);
    height: calc(100vh - 125px);
    left: 16px;
    top: 85px;
    border: 2px solid rgba(255,255,255,0.87);
    border-radius: 10px;
    padding: 10px;
    background: #282a36;
    opacity: 0.92;
    z-index: 99;
	/*display: none;*/
}

#enc-header {
	text-align: center;
}

#content-container {
    position: fixed;
    top:  0;
    left: 0;
    height: 100vh;
    width:  100vw;
    overflow: scroll;
}

.trainer-pok-list.opposing {
    min-width:  100%;
    margin-top: 10px;
}

.state {
    color: #bd93f9;
    text-decoration: underline;
    cursor: pointer;
}

.select2-container .select2-choice .select2-arrow {
    background: none;
    background-image: none;
}

html.old, body.old {
    background: #282a36;
}

.old .wrapper{
    max-width: calc(100vw - 40px);
    min-width: 1540px;
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
}

.old .panel:not(.panel-mid) {
    max-width: calc(50vw - 255px);
    min-width: calc(805px - 255px);
}

.old fieldset, .old .poke-info {
    background: none;
    
}

.old fieldset {
    border: 1px solid #44475a;
}

.old .select2-container .select2-choice {
    max-width: 100%;
}

.old #footer {
    max-width: calc(100vw - 40px);
    margin-left: 20px;
}



