#encounter-container {
	position: fixed;
    width: calc(100vw - 60px);
    height: calc(100vh - 125px);
    left: 16px;
    top: 85px;
    border: 2px solid #f1f1f1;
    border-radius: 10px;
    padding: 10px;
    background: #282a36;
    opacity: 0.92;
    z-index: 99;
	/*display: none;*/
}

#enc-header {
	text-align: center;
}

#content-container {
    position: fixed;
    top:  0;
    left: 0;
    height: 100vh;
    width:  100vw;
    overflow: scroll;
}

.trainer-pok-list.opposing {
    min-width:  100%;
}

#ms-btn {
    background: #bd93f9;
    color: #f1f1f1;
    width: 140px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    left: 74px;
    top: 26px;
    cursor:  pointer;
    display: none;
}


.mastersheet-wrapper #show-mid {
    top:  252px;
}

.mastersheet-wrapper #show-ai {
    top:  287px;
}